# devthink - CODEOWNERS
# Repository organization: @wenathlan
# Valid individual owners with repository write access, August 2026
# Project: devthink
# All repository paths are jointly owned by the listed individual GitHub accounts.
* @iakadion @inathlan @aasblor @nasblor
